services:
  ytdlp-service:
    build: .
    container_name: ytdlp-service
    ports:
      - "8002:8000"
    restart: unless-stopped

    # Persistência dos cookies
    volumes:
      - ./cookies:/app/cookies

    # Todas as variáveis de ambiente em UMA ÚNICA SEÇÃO
    environment:
      - TIKTOK_UA=Mozilla/5.0
      - TIKTOK_PROXY=
      - INSTAGRAM_PROXY=
      - TZ=America/Sao_Paulo

    deploy:
      resources:
        limits:
          memory: 512M
